doctype
html
	head
		meta(name='google-signin-clientid', content='621219095700-23jfbkcuq9iivug60674qijbpbc75p8n.apps.googleusercontent.com')
		meta(name='google-signin-scope', content='http://www.googleapis.com/auth/plus.login')
		meta(name='google-signin-cookiepolicy', content='single_host_origin')

		title React Server Side Rendering Example
		script(src='http://apis.google.com/js/client:platform.js?onload=render', async, defer)
	body
		div(id='react-root')!= react
		button(id='signinButton') Sign in with Google

		script(src='http://fb.me/react-with-addons-0.13.1.js')
		script(src='http://fb.me/JSXTransformer-0.13.1.js')
		script(src='http://code.jquery.com/jquery-2.1.3.js')

		script(src='/index.js')
		script(src='/components.jsx', type='text/jsx')