doctype
html
	head
		title React Server Side Rendering Example
	body
		div(id='react-root')!= react
		fb:login-button(scope='public_profile', onlogin='checkLoginState();')

		div(id='status')

		script(src='https://fb.me/react-with-addons-0.13.1.js')
		script(src='https://fb.me/JSXTransformer-0.13.1.js')
		script(src='https://code.jquery.com/jquery-2.1.3.js')

		script(src='/index.js')
		script(src='/components.jsx', type='text/jsx')